{
  "semi": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 100,
  "singleQuote": true,
  "insertPragma": false,
  "proseWrap": "always",
  "bracketSpacing": true,
  "requirePragma": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "jsxBracketSameLine": true,
}
