.pageWrapper {
  margin: 72px;
  display: flex;
  overflow: hidden;
  padding: 24px 16px;
  @include radius(.8rem);
  flex-direction: column;
  width: calc(100% - 144px);
  height: calc(100% - 144px);
  background-color: rgb(255, 255, 255, 0.75);
}
